@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

@keyframes shine {
  0% {
    background-position: -100% 0;
    opacity: 0;
  }
  50% {
    background-position: 100% 0;
    opacity: 1;
  }
  100% {
    background-position: 200% 0;
    opacity: 0;
  }
}
.group:hover .group-hover\:animate-shine {
  animation: shine 1s linear;
}
